<app-navbar></app-navbar>
<div class="container mx-auto px-4 mt-20">

  <div class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6">No</th>
          <th scope="col" class="py-3 px-6">Name</th>
          <th scope="col" class="py-3 px-6">Phone</th>
          <th scope="col" class="py-3 px-6">Email</th>
          <th scope="col" class="py-3 px-6">address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataSource?.data" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="py-4 px-6 text-gray-700 whitespace-nowrap">{{ data.id }}</td>
          <td class="py-4 px-6 text-gray-700 whitespace-nowrap">{{ data.attributes.name }}</td>
          <td class="py-4 px-6 text-gray-700 whitespace-nowrap">{{ data.attributes.phone }}</td>
          <td class="py-4 px-6 text-gray-700 whitespace-nowrap">{{ data.attributes.email }}</td>
          <td class="py-4 px-6 text-gray-700 whitespace-nowrap">{{ data.attributes.address }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
